html
  head
    title Nags site
    style
        include ./css/style-index.css
  body
    include nav-bar.pug
    
    br
    
    h1 Cool site
    
    p1 This site is all about something... I dont know what yet

    br
    br
    br

    a(href="//google.com"): button(type="button") Google