doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title the nav bar
        style
            include ./css/style-navar.css
    body
    a(href="/"): button(type="button", id='home') Home
    a(href="/Info"): button(type="button") Info
    a(href="/Pages"): button(type="button") Pages
    br